/*html*/
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "arial";
  box-sizing: border-box;
}

.container {
  height: 100%;
}

/*nav*/
nav {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

nav img {
  margin: 20px auto auto 0;
}

.menu {
  margin: 30px 0 auto auto;
  display: flex;
}

.menu li {
  margin-left: 50px;
}

.menu_login a {
  color: #0065fc;
  font-weight: bold;
}

.menu_link:hover,
.menu_link a:hover {
  color: #0065fc;
  border-bottom: 1px solid #0065fc;
}

.menu_link,
.menu_link a {
  color: black;
}

.menu li a.active {
  color: #0065fc;
}
nav img {
  margin-top: 15px;
  float: left;
}

ul li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/*header section*/
.header_section {
  width: 80%;
  margin: auto;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  font-size: 1.3em;
  margin: 30px auto auto 50px;
}

h3 {
  font-size: 1.1em;
  margin: auto 10px;
}

h4 {
  font-size: 0.9em;
  margin: auto auto 20px 0;
}

p {
  margin-left: 10px;
}

/*form*/
form {
  height: 50px;
  width: 400px;
  display: flex;
  flex-direction: row;
  margin: 30px auto 30px 0;
}

.search_form_icon {
  width: 50px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  display: flex;
  align-items: center;
}

.search_form_icon i,
.infos_icon i {
  margin: auto;
}

form input {
  border-right: none;
  border-left: none;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  font-weight: bold;
  font-size: 1.1em;
  color: black;
  padding-left: 5px;
}

.search_form_submit {
  color: white;
  background-color: #0065fc;
  width: 140px;
  border-radius: 0 15px 15px 0;
  font-size: 1.1em;
}

.search_form_submit_responsive {
  width: 50px;
  border-radius: 15px;
  background-color: #0065fc;
  display: none;
  border: none;
}

.search_form_submit_responsive i {
  color: white;
}

/*filters*/
.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: max-content;
  align-items: center;
}

.filters_title {
  margin: auto;
}
.filters_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filters_items a {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.filters_items a:hover {
  color: #0065fc;
  border-bottom: 1px #0065fc solid;
}

.filters_item {
  border: 1px #f2f2f2 solid;
  border-radius: 90px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

.filters_item_icon {
  background-color: #deebfe;
  border-radius: 90px;
  width: 40px;
  height: 40px;
  display: table;
}

.filters_item_icon i {
  color: #0065fc;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/*infos*/
.infos {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.infos_icon {
  width: 30px;
  height: 30px;
  align-items: center;
  border-radius: 90px;
  border: 1px #0065fc solid;
  display: flex;
  align-items: center;
}

.infos_icon i {
  color: #0065fc;
}

/*hostings*/
.hostings {
  margin: 30px auto 10px auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 580px;
}

/*main hostings*/
.main_hostings {
  display: flex;
  flex-direction: column;
  height: 600px;
  margin: 20px auto auto 0;
  background-color: #f2f2f2;
  width: 992px;
  border-radius: 20px;
}

.main_hostings_figures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px auto;
  width: 90%;
  padding-bottom: 10px;
  height: 500px;
}

figure {
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}

.main_hostings_figure {
  width: 250px;
  height: 200px;
  padding: 4px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.main_hostings_figures a {
  width: fit-content;
  height: fit-content;
}

.main_hostings_figures a:hover {
  border: 5px #0065fc solid;
  border-radius: 15px;
}

.main_hostings_figure img {
  height: 120px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  margin-top: 5px;
}

.main_hostings_figcaption {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: left;
}

.main_hostings_stars {
  width: 150px;
  margin: auto 10px;
}

.star_icon {
  font-size: 0.8em;
}

.star_icon[data-active="true"] {
  color: #0065fc;
}

.star_icon[data-active="false"] {
  color: #f2f2f2;
}

.display_more {
  margin: 10px auto 30px 50px;
  width: fit-content;
}

.display_more :hover {
  border-bottom: 3px #0065fc solid;
}

/*popular_hostings*/
.popular_hostings {
  height: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin-top: 20px;
  width: 350px;
}

.popular_hostings_head {
  width: 300px;
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

.popular_hostings_head i {
  margin-bottom: auto;
}

.popular_hostings_heading {
  margin: auto 0;
}

.popular_hostings_figures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
  width: 300px;
  margin: 0 auto 30px auto;
  align-items: center;
}

.popular_hostings_figure {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 130px;
  padding: 5px;
}

.popular_hostings_figcaption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  text-align: left;
}

.popular_hostings_figures a {
  width: fit-content;
  height: fit-content;
  margin-top: 15px;
}

.popular_hostings_figures a:hover {
  border: 5px #0065fc solid;
  border-radius: 15px;
}

.popular_hostings_figure img {
  border-radius: 20px 0 0 20px;
}

.popular_hostings_title {
  margin: auto 10px;
}

.popular_hostings_text {
  margin: 0 auto 20px 10px;
}

.popular_hostings_stars {
  margin: auto auto 0 10px;
}

/*activities*/
.activities {
  width: 80%;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
}

.activities_title {
  margin: auto 20px;
}

.activities_figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.activities_figures a,
.activities_figures_cards a {
  width: fit-content;
  height: fit-content;
}

.activities_figures a:hover,
.activities_figures_cards_a:hover {
  border: 5px #0065fc solid;
  border-radius: 15px;
}

.activities_figure,
.activities_figures_cards {
  display: flex;
  flex-direction: column;
  height: 400px;
  text-align: left;
  justify-content: space-between;
  width: 310px;
}

.activities_figure img {
  height: 360px;
  border-radius: 15px 15px 0 0;
  margin: 0;
}

.activities_figures_card {
  border-radius: 15px;
  display: flex;
  height: 180px;
  flex-direction: column;
  justify-content: space-between;
  width: 310px;
}

.activities_figures_card img {
  height: 140px;
  border-radius: 15px 15px 0 0;
  margin: 0;
}

/*footer*/
footer {
  width: 80%;
  height: 150px;
  background-color: #f2f2f2;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 50px auto 0 auto;
}

.footer_items {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
  height: auto;
}

.footer_item {
  flex: 1;
  text-align: left;
  line-height: 25px;
}

.footer_item h3 {
  margin: auto;
}

/*media queries for 1024px */
@media screen and (max-width: 1024px) {
  nav {
    width: 80%;
  }

  h1 {
    width: 65%;
  }

  /*search section*/
  .header_section {
    width: 80%;
  }

  /*filters*/
  .filters {
    width: 80%;
  }

  .filters_title {
    margin: auto 10px;
  }

  /*hostings*/
  .hostings {
    width: 85%;
    height: 950px;
    flex-direction: column;
  }

  .main_hostings {
    width: 95%;
    margin: auto;
    padding-left: 0;
  }

  .main_hostings_figures {
    width: 95%;
    height: 470px;
    margin: 20px auto;
  }

  .main_hostings_figure {
    width: 210px;
    height: 200px;
    padding: 4px;
  }

  .main_hostings_figcaption {
    text-align: center;
  }

  .main_hostings_title,
  .main_hostings_text,
  .main_hostings_stars,
  .popular_hostings_title,
  .popular_hostings_text,
  .popular_hostings_stars {
    margin: auto;
  }

  .main_hostings_figure img {
    border-radius: 15px 15px 0 0;
    height: 120px;
  }

  /*popular hostings*/
  .popular_hostings {
    width: 95%;
    height: 320px;
    flex-direction: column;
    margin: auto;
  }

  .popular_hostings_head {
    width: max-content;
    margin-left: 10px;
  }
  .popular_hostings_heading {
    margin: auto 30px;
  }

  .popular_hostings_figures {
    flex-direction: row;
    width: 95%;
    margin: auto;
    height: 230px;
  }

  .popular_hostings_figure {
    flex-direction: column;
    width: 210px;
    height: 210px;
    text-align: center;
  }

  .popular_hostings_figure img {
    border-radius: 15px 15px 0 0;
    height: 120px;
  }

  .popular_hostings_figcaption {
    height: auto;
    margin: auto;
    width: 200px;
    text-align: center;
  }

  /*activities*/
  .activities {
    width: 80%;
    margin: 30px auto;
    height: 400px;
  }

  .activities_figures {
    width: 100%;
    margin: 0 auto;
    height: 320px;
  }

  .activities_figure,
  .activities_figures_cards {
    width: 160px;
    height: 300px;
  }

  .activities_figure img {
    height: 240px;
  }

  .activities_figures_card {
    width: 160px;
    height: 140px;
  }

  .activities_figures_card img {
    height: 100px;
  }

  footer {
    height: 150px;
    width: 80%;
  }

  .footer_items {
    height: auto;
  }
}

/*media queries for 768px*/
@media screen and (max-width: 768px) {
  /*nav*/
  nav {
    width: 90%;
  }

  /*header*/
  .header_section {
    width: 90%;
  }

  /*filters*/
  .filters {
    width: 100%;
  }

  /*hostings*/
  .hostings {
    width: 100%;
    height: 950px;
    flex-direction: column;
  }

  .main_hostings {
    width: 95%;
    margin: auto;
    padding-left: 0;
  }

  .main_hostings_figures {
    width: 95%;
    height: 470px;
    margin: 20px auto;
  }

  .main_hostings_figure {
    width: 210px;
    height: 200px;
    padding: 4px;
  }

  .main_hostings_figcaption {
    text-align: center;
  }

  .main_hostings_figure img {
    border-radius: 15px 15px 0 0;
  }

  /*popular hostings*/
  .popular_hostings {
    width: 95%;
    height: 320px;
    flex-direction: column;
    margin: auto;
  }
  .popular_hostings_head {
    width: max-content;
  }

  .popular_hostings_figures {
    flex-direction: row;
    width: 95%;
    margin: auto;
    height: 230px;
  }

  .popular_hostings_figure {
    flex-direction: column;
    width: 210px;
    height: 210px;
    text-align: left;
  }

  .popular_hostings_figure img {
    border-radius: 15px 15px 0 0;
    height: 120px;
  }

  /*activities*/
  .activities {
    width: 95%;
    margin: 30px auto;
    height: 350px;
  }

  .activities_figures {
    width: 100%;
    margin: 0 auto;
  }

  .activities_figure,
  .activities_figures_cards {
    width: 160px;
    height: 300px;
  }

  .activities_figures_card {
    width: 160px;
    height: 140px;
  }

  footer {
    width: 95%;
    height: 150px;
  }
}

/* small screens*/
@media screen and (max-width: 576px) {
  /*nav*/
  nav {
    width: 100%;
  }

  nav img {
    position: absolute;
    margin: 0 15px 0px 15px;
    width: 110px;
    height: 60px;
  }

  .menu {
    align-items: center;
    margin: 75px 0 0 0;
    padding: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
  }

  .menu_login {
    position: absolute;
    top: 45px;
    right: 15px;
  }

  .menu li {
    margin: auto 0 auto 0;
  }

  .menu_link {
    border-bottom: 2px solid #f2f2f2;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 50%;
    margin: auto 0 auto 0;
  }

  h1 {
    font-size: 1.3em;
    width: 85%;
  }

  /*header_section*/
  .header_section {
    height: 500px;
    width: 90%;
  }

  .search_form_icon {
    width: 50px;
  }

  form {
    width: 100%;
  }

  .search_form_submit {
    display: none;
  }

  .search_form_submit_responsive {
    display: inline-block;
    width: 50px;
  }

  /*filters*/
  .filters {
    flex-direction: column;
    width: 100%;
    align-items: inherit;
  }

  .filters_items a {
    margin-top: 10px;
  }

  .filters_title {
    margin: auto 10px;
  }

  /*infos*/

  .infos_icon {
    width: 30px;
    height: 25px;
  }

  /*hostings*/
  .hostings {
    flex-direction: column-reverse;
    width: 100%;
    height: 2300px;
    margin: 10px auto;
  }

  /*popular hostings*/
  .popular_hostings {
    flex-direction: column;
    width: 100%;
    height: 580px;
    border-radius: 0;
  }

  .popular_hostings_head {
    width: 80%;
    margin: 30px auto 10px auto;
  }

  .popular_hostings_figures {
    width: 90%;
    height: 450px;
    flex-direction: column;
    margin: 10px auto;
  }

  .popular_hostings_figure {
    width: 100%;
    height: 130px;
    flex-direction: row;
    margin: 5px auto 0 auto;
  }

  .popular_hostings_figures a {
    margin: 10px auto 0 auto;
    width: 90%;
  }

  .popular_hostings_figcaption {
    text-align: left;
  }

  .popular_hostings_figure img {
    border-radius: 15px 0 0 15px;
    width: 130px;
  }

  .popular_hostings_head {
    width: 320px;
    margin: 20px auto 0 0;
  }

  .popular_hostings_title {
    margin: 0 auto auto 10px;
  }

  .popular_hostings_text {
    margin: 0 auto 20px 10px;
  }

  .popular_hostings_stars {
    margin: auto auto 0 10px;
  }

  /*main hostings*/

  .main_hostings_title,
  .main_hostings_text,
  .main_hostings_stars {
    margin-left: 10px;
  }

  .main_hostings {
    width: 90%;
    height: 1600px;
    background-color: white;
  }

  h2 {
    margin-left: 20px;
  }
  .main_hostings_figures {
    width: 100%;
    height: 1500px;
    flex-wrap: wrap;
    margin: 15px auto;
  }

  .main_hostings_figures a {
    width: 90%;
    margin: 10px auto 0 auto;
  }

  .main_hostings_figure {
    width: 100%;
    height: 210px;
    text-align: center;
  }

  .main_hostings_figure img {
    width: 100%;
  }

  .main_hostings_figcaption {
    text-align: left;
  }

  .display_more {
    margin-left: 10px;
  }

  /*activities*/
  .activities {
    width: 90%;
    height: 1150px;
    margin: auto;
  }

  .activities_figures {
    flex-direction: column;
    width: 310px;
    height: 1100px;
    margin: auto;
  }

  .activities_figures a {
    margin: auto auto 5px auto;
    height: fit-content;
    width: fit-content;
  }

  .activities_figure {
    width: 310px;
    height: 160px;
    margin: auto;
  }

  .activities_figure img {
    height: 140px;
    margin-top: 0;
  }

  .activities_figures_cards {
    width: 310px;
    height: 360px;
    margin: 10px auto 0 auto;
  }

  .activities_figures_cards a {
    margin: auto 10px 10px auto;
    width: fit-content;
    height: fit-content;
  }

  .activities_figures_card {
    height: 160px;
    margin: auto;
    width: 310px;
  }

  .activities_figures_card a {
    margin: auto;
  }
  .activities_figures_card img {
    height: 140px;
  }

  /*footer*/
  footer {
    height: 400px;
    margin: 50px auto 0 auto;
    flex-direction: column;
    width: 100%;
  }

  .footer_items {
    flex-direction: column;
    height: 350px;
    margin: auto;
    width: 80%;
    line-height: 5px;
  }

  .footer_item {
    margin-top: 10px;
  }
}