@charset "utf-8";
/* CSS Document */
/* =====tout le site et généralité===== */
body {
	align-items: center;
	font-family: 'Raleway', sans-serif;
}
.txt_bleu {
	color: #0065FC;
}
.txt_gris {
	color: #F2F2F2;
}
.txt_noir {
	color: black;
}
.fond_bleu_clair {
	color: #DEEBFF;
}
.fond_gris {
	color: #F2F2F2;
}
/* =====conteneur du logo===== */
.logo_div {
	
}
/* =====logo===== */
#logo {
	
}
/* ===== conteneur menu ET logo=====*/
.menu_logo {
	display: flex;
	justify-content: space-between;
}
/* ===== conteneur du menu =====*/
.menu {
	width: 33%;
}
/* =====liste à puces (sans puce) pour faire le menu===== */
.menu ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
}
/* =====liens du menu : hébergement et activité=====*/
.lien_menu_ah {
	text-decoration: none;
}
.lien_menu_ah:hover{
	border-top: 1px solid #0065FC;
}
/* =====lien du menu : s'inscrire===== */
.lien_menu_inscrire {
	text-decoration: none;
}
.lien_menu_inscrire:hover {
	border-top: 1px solid #0065FC;
}
/* =====formulaire de recherche===== */
.barre_recherche {
	width: 420px;
	height: 50px;
}
.formulaire_recherche {
	width: 420px;
	height: 50px;
	display: flex;
	justify-content: flex-start;
}
.icone_recherche {
	width: 50px;
	height: 50px;
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
#recherche {
	width: 235px;
	height: 50px;
	font-weight: bold;
	font-size: 17px;
	padding-left: 2em;
	border: 1px solid #F2F2F2;
}
button {
	background-color: #0065FC;
	width: 135px;
	height: 50px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
/* =====filtres===== */
.filtres {
	height: 50px;
	margin-top: 30px;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
}
.filtre_solo {
	height: 50px;
	display: flex;
	align-items: center;
	margin-right: 24px;
}
.icone_filtre {
	width: 52px;
	height: 52px;
	border-radius: 25px;
	color: #0065FC;
	background-color: #DEEBFF;
	display: flex;
	align-items: center;
	justify-content: center;
}
.filtre_solo_txt {
	height: 50px;
	border: 2px solid #F2F2F2;
	border-bottom-right-radius: 45px;
	border-top-right-radius: 45px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}
.titre_filtres {
	margin-right: 32px;
}
/* =====Point Information===== */
.information {
	display: flex;
	align-items: center;
}
.icone_info {
	width: 24px;
	height: 24px;
	border-radius: 25px;
	border: 1px solid #F2F2F2;
	color: #0065FC;
	display: flex;
	align-items: center;
	justify-content: center;
}
.information p {
	padding-left: 20px;
}
/* ===== section hébergement et populaire===== */
.hebergement_populaire {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hebergement {
	background-color: #F2F2F2;
	width: 66%;
	height: 626px;
	border-radius: 15px;
}
.conteneur_produits_hebergement {
	
}
.populaires {
	background-color: #F2F2F2;
	width: 32%;
	height: 626px;
	border-radius: 15px;
}
.titre_populaires {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.conteneur_produit_populaires {
	
}
/* =====étoiles grises===== */
.star_grey {
	color:#F2F2F2;
}
/* =====étoiles bleues===== */
.star_blue {
	color:#0065FC;
}
/* =====chaque produit===== */
.produit {
	width: 250px;
	height: 200px;
	padding: 4px;
	justify-content: center;
}
.hebergement_figure {
	background-color: white;
	border-radius: 15px;
	box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}
.hebergement_figure:hover {
	background-color: white;
	border-radius: 15px;
	box-shadow: 2px 1px 5px 2px grey;
}
