@charset "utf-8";
/* CSS Document */
/* =====tout le site et généralité===== */
body {
	align-items: center;
	font-family: 'Raleway', sans-serif;
}
.all {
	max-width: 1340px;
	padding-left: 50px;
	padding-right: 50px;
}
a {
	text-decoration: none;
	height: auto;
}
h3 {
	line-height: 1.17em;
	margin-bottom: 0;
	margin-top: 5px;
}
ul {
	list-style: none;
}
.p_box {
	line-height: 1em;
	margin: 5px 0 5px 0;
}
.txt_bleu {
	color: #0065FC;
}
.txt_gris {
	color: #F2F2F2;
}
.txt_noir {
	color: black;
}
.fond_bleu_clair {
	background-color: #DEEBFF;
}
.fond_gris {
	background-color: #F2F2F2;
}
/* =====conteneur du logo===== */
.logo_div {
	
}
/* =====logo===== */
#logo {
	
}
/* ===== conteneur menu ET logo=====*/
.menu_logo {
	display: flex;
	justify-content: space-between;
}
/* ===== conteneur du menu =====*/
.menu {
	width: 33%;
}
/* =====liste à puces (sans puce) pour faire le menu===== */
.menu ul {
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: space-around;
}
/* =====liens du menu : hébergement et activité=====*/
.lien_menu_ah {
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
}
.lien_menu_ah:hover{
	border-top: 2px solid #0065FC;
}
/* =====lien du menu : s'inscrire===== */
.lien_menu_inscrire {
	display: flex;
	align-items: center;
	height: 100%;
	text-decoration: none;
}
.lien_menu_inscrire:hover {
	border-top: 2px solid #0065FC;
}
/* =====formulaire de recherche===== */
.barre_recherche {
	width: 420px;
	height: 50px;
}
.formulaire_recherche {
	width: 420px;
	height: 50px;
	display: flex;
	justify-content: flex-start;
}
.icone_recherche {
	width: 50px;
	height: 50px;
	background-color: #F2F2F2;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
#recherche {
	width: 235px;
	height: 50px;
	font-weight: bold;
	font-size: 17px;
	padding-left: 2em;
	border: 1px solid #F2F2F2;
}
button {
	background-color: #0065FC;
	width: 135px;
	height: 50px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	color: white;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
/* =====filtres===== */
.filtres {
	width: auto;
	height: auto;
	margin-top: 30px;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.filtres_conteneur {
	width: auto;
	display: flex;
	justify-content: space-between;
}
.filtre_solo {
	margin-bottom: 13px;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	margin-right: 24px;
}
.icone_filtre {
	width: 52px;
	height: 52px;
	border-radius: 25px;
	color: #0065FC;
	background-color: #DEEBFF;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}
.filtre_solo_txt {
	height: 50px;
	width: auto;
	border: 2px solid #F2F2F2;
	border-radius: 45px;
	display: flex;
	align-items: center;
	padding-left: 60px;
	padding-right: 20px;
}
.titre_filtres {
	margin-right: 32px;
}
/* =====Point Information===== */
.information {
	display: flex;
	align-items: center;
}
.icone_info {
	width: 24px;
	height: 24px;
	border-radius: 25px;
	border: 1px solid #F2F2F2;
	color: #0065FC;
	display: flex;
	align-items: center;
	justify-content: center;
}
.information p {
	padding-left: 20px;
}
/* ===== section hébergement et populaire===== */
.hebergement_populaire {
	height: 626px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hebergement {
	background-color: #F2F2F2;
	flex: 2;
	height: 100%;
	max-width: 880px;
	min-width: 375px;
	padding: 0 40px 0 40px;
	border-radius: 15px;
}
.conteneur_produits_hebergement {
	height: auto;
}
.populaires {
	background-color: #F2F2F2;
	flex: 1;
	margin-left: 40px;
	height: 100%;
	max-width: 420px;
	min-width: 375px;
	padding: 0 40px 0 40px;
	border-radius: 15px;
}
.titre_populaires {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.conteneur_produit_populaires {
	/*display: flex;*/
	/*flex-wrap: wrap;*/
}
/* =====étoiles grises===== */
.star_grey {
	color:#F2F2F2;
}
/* =====étoiles bleues===== */
.star_blue {
	color:#0065FC;
}
/* =====chaque produit===== */
.produit_H {
	width: 250px;
	height: auto;
	display: flex;
	justify-content: center;
}
/* =====Hébergements===== */
.hebergement_figure {
	width: 100%;
	height: auto;
	padding: 5px 5px 10px 5px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}
.hebergement_figure:hover {
	background-color: white;
	border-radius: 15px;
	box-shadow: 2px 1px 5px 2px grey;
}
.hebergement_figure img {
	height: 114px;
	width: 236px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}
.flex_heb_pop {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.aff_plus_heb {
	margin-top: 20px;
	display: flex;
}
/* =====Populaires===== */
.produit_P {
	width: 100%;
	height: auto;
	/*display: flex;
	justify-content: center;*/
}
.populaire_figure {
	width: auto;
	height: auto;
	padding: 5px 5px 10px 5px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
	margin-inline-start: 0;
    margin-inline-end: 0;
}
.populaire_figure a {
	display: flex;
}
.populaire_figure a figcaption {
	margin-left: 20px;
}
.populaire_figure:hover {
	background-color: white;
	border-radius: 15px;
	box-shadow: 2px 1px 5px 2px grey;
}
.populaire_figure img {
	height: 134px;
	width: 126px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	object-fit: cover;
}
.etoiles_P {
	
}

/* =====Activités à Marseille===== */
#activites {
	margin: 60px 0 60px 0;
	height: 500px;
}
.conteneur_produits_activite {
	margin-left: -40px;
	height: 471px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}
.produit_A {
	width: 342px;
	margin-left: 0;
}
.activite_figure {
	width: 302px;
	height: auto;
	background-color: white;
	border-radius: 15px;
	box-shadow: 2px 1px 5px 2px rgb(209, 209, 209);
}
.activite_figure:hover {
	background-color: white;
	border-radius: 15px;
	box-shadow: 2px 1px 5px 2px grey;
}
.activite_figure a figcaption {
	height: 45px;
}
.nom_activite {
	height: 100%;
	margin-left: 15px;
	display: flex;
	align-items: center;
}

/* =====footer===== */
.footer {
	height: 218px;
	padding: 45px 360px 45px 45px;
}
.nav_footer {
	display: flex;
	justify-content: space-between;
}
.nav_footer ul {
	padding-inline-start: 0;
}
/* =====images===== */
.img_act_grand {
	width: 100%;
	height: 390px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}
.img_act_FP {
	width: 100%;
	height: 180px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}
.img_act_IF {
	width: 100%;
	height: 109px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}
.img_act_NDG {
	width: 100%;
	height: 139px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}
.img_act_PL {
	width: 100%;
	height: 153px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}
